.terraform/
./*.tfstate
.*.swp
.idea
*~
*.backup
*.log
*.bak
*.iml
*.test
backup/
configs/mysql/radius.sql
configs/ovpn/*.conf
configs/ovpn/*.crt
configs/ovpn/*.dh
configs/ovpn/*.key
example.tf
modules-dev/
secret.*
terraform.tfplan
terraform.tfstate
terraform.tfstate.d/
